body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #595957;
}

ol, ul {
  margin-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  padding: 20px 0 0 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;

}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.game-info {
  
  height: 277px;
  background: #F15E5E;
  width: 277px;
  border-radius: 0 7% 7% 0;
}

.game-board{
  background: #72b5A4;
  padding: 50px;
  border-radius: 7% 0 0 7%;
}

.history{
  background-color: white;
}